
.chat-room-wrapper {
	border: 2px solid #444;
	border-radius: 8px;
	color: #222;
}

.chat-room-wrapper * {
	box-sizing: border-box;
}

.chat-room-wrapper .chat-room-scrollback {
	height: 300px;
	overflow: auto;
}

.chat-room-wrapper .chat-room-scrollback .messages {
	overflow: hidden;
	margin: 0;
	padding: 0.5em;
}

.chat-room-wrapper .chat-room-scrollback .messages dt,
.chat-room-wrapper .chat-room-scrollback .messages dd {
	display: inline;
}

.chat-room-wrapper .chat-room-scrollback .messages dt {
	font-weight: 700;
}

.chat-room-wrapper .chat-room-scrollback .messages dt:before {
	content: '';
	display: block;
}

.chat-room-wrapper .chat-room-scrollback .messages dt:after {
	content: ':';
}

.chat-room-wrapper .chat-room-scrollback .messages dd {
	padding-left: 0.35em;
	margin: 0;
	white-space: pre-line;
}

.chat-room-wrapper .chat-room-input {
	background: #444;
	overflow: hidden;
}

.chat-room-wrapper .chat-room-input textarea {
	display: block;
	width: 100%;
	border: 2px solid #444;
	border-width: 2px 0;
	border-radius: 0;
	outline: none;
	background: #eee;
	font-size: 1em;
	padding: 0.5em;
	resize: none;
	-webkit-transition: all 0.25s ease;
	-moz-transition:    all 0.25s ease;
	-ms-transition:     all 0.25s ease;
	-o-transition:      all 0.25s ease;
	transition:         all 0.25s ease;
}

.chat-room-wrapper .chat-room-input textarea:focus {
	background: #fff;
}

.chat-room-wrapper .chat-room-input button {
	float: right;
	border: 0 solid #444;
	border-radius: 0 0 6px 0;
}
